@charset "UTF-8"

.wrapper {
   padding: 20px;
}

.title {
    padding: 30px 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.title--sub {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.headline {
   text-align: center;
}

.headline__txt {
   display: inline-block;
   margin-bottom: 20px;
   padding: 0 10px 10px;
   border-bottom: 1px solid #ccc;
   font-size: 20px;
}

.box {
   padding: 20px 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
   clear: both;
}

.contents {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.contents__inner {
  float: left;
  width: 230px;
  padding: 20px;
  background-color: #3274ae;
}

.contents__inner:not(:first-child) {
   margin-left: 20px;
  }

.contents__inner__box {
  padding: 20px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
}
