@charset "UTF-8";

/* 回答はここに書いてね */
.q7 {
   font-size: 0;
   text-align: center;
   margin: 0 auto;
}

.q7_box {
   display: inline-block;
   margin: 10px;
   font-size: 16px;
   vertical-align: middle;
}

.q7_init {
   padding: 0;
   background: none;
   border: none;
   border-radius: 0;
   font-size: 16px;
   outline: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.q7_txt {
   padding: 5px;
   border: 1px solid #00BCD4;
   border-radius: 5px;
}

.q7_textarea {
   height: 40px;
   padding: 5px;
   border: 1px solid #00BCD4;
   border-radius: 5px;
   resize: none;
}

.q7_radio {
   cursor: pointer;
  }

.q7_radio_btn {
   display: none;
}

.q7_radio_parts {
   position: relative;
   display: inline-block;
   padding: 3px 3px 3px 20px;
}

.q7_radio_parts:before {
   position: absolute;
   top: 50%;
   left: 0;
   width: 14px;
   height: 14px;
   margin-top: -8px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 50%;
   content: '';
}

.q7_radio_btn:checked + .q7_radio_parts:after {
   position: absolute;
   top: 50%;
   left: 4px;
   width: 8px;
   height: 8px;
   margin-top: -4px;
   background-color: #00BCD4;
   border-radius: 50%;
   content: '';
}

.q7_check {
   cursor: pointer;
}

.q7_check_btn {
   display: none;
}

.check_parts {
   position: relative;
   display: inline-block;
   padding: 3px 3px 3px 22px;
}

.check_parts:before {
   position: absolute;
   content: '';
   top: 50%;
   left: 0;
   width: 14px;
   height: 14px;
   margin-top: -8px;
   background-color: #fff;
   border: 1px solid #ccc;
}

.q7_check_btn:checked + .check_parts:after {
   position: absolute;
   content: '';
   top: 5px;
   left: 3px;
   width: 13px;
   height: 5px;
   border-bottom: 2px solid #00BCD4;
   border-left: 2px solid #00BCD4;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.q7_select {
   position: relative;
   background-color: #FFF;
}

.q7_select:before {
   position: absolute;
   top: 7px;
   right: 9px;
   width: 8px;
   height: 8px;
   border-bottom: 2px solid #ccc;
   border-left: 2px solid #ccc;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   content: "";
}

.q7_select_item {
   position: relative;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding: 5px 30px 5px 5px;
   font-size: 14px;
}

.q7_btn {
   padding: 5px 10px;
   border: 1px solid #00BCD4;
   border-radius: 5px;
   color: #00BCD4;
   cursor: pointer;
}

.q7_btn:active {
   background-color: #00BCD4;
   color: #FFF;
}

/* 回答はここに書いてね */
