@charset "UTF-8";

/* 回答はここに書いてね */
.box1 {
   position: relative;
   width: 500px;
   padding: 20px;
   border: 5px solid #222;
   background-color: #fff;
   text-align: left;
   font-size: 16px;
   line-height: 16px;
   border-radius: 30px;
   margin: 0 auto;
}

.box1:before {
   content: "";
   position: absolute;
   bottom: -39px;
   left: 25px;
   border: 20px solid transparent;
   border-top: 20px solid #fff;
   z-index: 2;
}

.box1:after {
   content: "";
   position: absolute;
   bottom: -45px;
   left: 25px;
   border: 20px solid transparent;
   border-top: 20px solid #222;
   z-index: 1;
}

/* 回答はここに書いてね */
