@charset "UTF-8";

.table1 {
   width: 100%;
   border: 1px;
   border-color: #222;
   text-align: center;
   table-layout: auto;
}

.table1 th {
   background: #2244aa;
   border: 1px solid #dedede;
   font-size: 18px;
   color: #fff;
   padding: 10px;
}

.table1 td:first-child {
   background: #2244aa;
   font-size: 18px;
   color: #fff;
   padding: 10px;
}

.table1 td {
   border: 1px solid #dedede;
   padding: 10px;
}

.table1 tr:nth-child(3) {
   background: #ecf1f2;
}

.table1 tr:nth-child(5) {
   background: #ecf1f2;
}

.table1 tr:last-child {
   border: #000 2px;
   border-top: dashed;
}
