@charset "UTF-8";

/* 回答はここに書いてね */
.q10__box {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.q10__title {
  position: relative;
  margin-bottom: 20px;
}

.q10__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.q10__title__txt {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ecf1f2;
  font-size: 24px;
  font-weight: bold;
}

.q10__left {
  float: left;
  width: 300px;
}

.clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.q10__left {
  float: left;
  width: 300px;
}

.q10__leftitem {
  margin-bottom: 20px;
}

.q10__leftitem > li:not(:first-child) {
  margin-top: 20px;
}

.q10__leftitem__title {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.q10__leftitem__title .is-required {
  color: #f00;
}

.q10__leftitem__content {
  float: right;
  width: 180px;
}

.q10__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.q10__input--init {
  padding: 5px;
  background: #fff;
  border: none;
  border-radius: 0;
  font-size: 12px;
  outline: none;
  -webkit-appearance: none;
}

.q10__radio {
  cursor: pointer;
}

.q10__radio__btn {
  display: none;
}

.q10__radio__txt {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.q10__radio__txt::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.q10__radio__btn:checked + .q10__radio__txt::after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00bcd4;
  border-radius: 50%;
  content: '';
}

.q10__leftitem__title .is-required {
  clear: #f00;
}

.q10__left__bottom {
  text-align: right;
}

.q10__left__bottom__btn {
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.q10__right {
  float: right;
  width: 380px;
}

.q10__right__txt {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}

/* 回答はここに書いてね */
