@charset "UTF-8";

.box9 {
   width: 100px;
   height: 100px;
   position: fixed;
   top: 10px;
   left: 10px;
   background: #2b69a3;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.bac {
   width: 500px;
   height: 500px;
   background: #ECF1F2;
   position: relative;
   margin: auto;
}

.box1 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 40px;
   left: 200px;
   background: #ffefd3;
   margin: auto;
   z-index: 1;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box2 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 120px;
   right: 120px;
   background: #7084de;
   z-index: 2;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box3 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 200px;
   right: 40px;
   background: #d0ecea;
   z-index: 3;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box4 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 280px;
   right: 120px;
   background: #8b7e5a;
   z-index: 4;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box5 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 360px;
   left: 200px;
   background: #9fd6d2;
   z-index: 5;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box6 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 280px;
   left: 120px;
   background: #fffee4;
   z-index: 6;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box7 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 200px;
   left: 40px;
   background: #deae70;
   z-index: 7;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box8 {
   content: "";
   width: 100px;
   height: 100px;
   position: absolute;
   top: 120px;
   left: 120px;
   background: #de70cf;
   z-index: 8;
   font-weight: bold;
   font-size: 30px;
   line-height: 100px;
   text-align: center;
}

.box8::after {
  position: absolute;
   top: 0;
   right: 0;
   width: 20px;
   height: 20px;
   background-color: #FFEFD3;
   content: "";
}
